<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="RoupaConnectionString" connectionString="Data Source=DEV04-PC\;Initial Catalog=Roupa;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RoupaConnectionString1" connectionString="Data Source=DAVID\SQLEXPRESS;Initial Catalog=Roupa;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="error.htm">
      <error statusCode="500" redirect="error500.aspx?code=500"/>

      <!--<error statusCode="404" redirect="~/Site/Index.aspx"/>-->
      <!--<error statusCode="404" redirect="~/Site/NotFound.aspx"/>-->
      <error statusCode="403" redirect="authorizationfailed.aspx"/>
    </customErrors>
  </system.web>

</configuration>
